html,
body {
  background: black;
}
.my-app {
  position: relative;
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    .loader-spinner {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 15px;
      background-color: #5f79d7;
      animation: spin 2.5s infinite linear;

      @keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
    }
  }
  .splash-wrapper{
    position: relative;
    height: 100vh;
  }
  .splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 900px;
    background: url("../../public/images/splash-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    .splash__title {
      width: 500px;
      img {
        display: block;
        width: 100%;
      }
    }
    .splash__content {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      width: 100%;
      padding: 50px 80px;
      margin-top: 30px;
      background: rgba(255, 255, 255, 0.3);
      color: #fff;
      clip-path: polygon(0 50px, 50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
      .game-rules {
        &__title {
          font-size: 30px;
          font-weight: 600;
          letter-spacing: 1px;
          color: gold;
        }
        &__item {
          margin-top: 35px;
        }
        &__item-text {
          font-size: 20px;
          font-weight: 600;
          text-transform: capitalize;
          color: #fff;
          margin-bottom: 15px;
        }
        &__item-img-wrap {
          width: 300px;
          &.elixir-tracker {
            width: 400px;
          }
          &.bomb {
            width: 50px;
          }
          &.arrows {
            width: 200px;
          }

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
    .splash-btn {
      width: 200px;
      padding: 10px;
      margin-top: 35px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: linear-gradient(90deg, rgba(120, 9, 121, 0.8) 35%, rgba(68, 0, 255, 0.8) 100%);
      color: #fff;
      clip-path: polygon(0 15px, 15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
      animation: bounce 0.35s infinite alternate;
      transform-origin: center center;
      cursor: pointer;
      &:hover {
        animation: none;
      }
      @keyframes bounce {
        to {
          transform: scale(1.1);
        }
      }
    }
  }
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .canvas {
    background-color: black;
  }
  .wrapper {
    position: relative;
    width: 1600px;
    height: 900px;
  }
  .score-jar {
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    width: 500px;
    height: 58px;
    background-image: url("../../public/images/m-bar.png");
    background-repeat: no-repeat;
    overflow: hidden;
    .score-wrapper {
      position: absolute;
      top: 12.2px;
      left: 20px;
      display: flex;
      width: 458px;
      height: 25px;
      background-color: rgba(0, 0, 0, 0.3490196078);
      clip-path: polygon(12px 0, 447px 0, 100% 12.5px, 446px 100%, 13px 91%, 0 12.5px);
    }
    .score {
      height: 100%;
      transition: width 0.5s;
    }
  }
  .replay-screen,
  .cong-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    &.show {
      opacity: 1;
      pointer-events: auto;
      transition: all 0.5s 1s;
    }
    .replay-btn {
      outline: 2px solid #fff;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      user-select: none;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .cong-screen {
    flex-direction: column;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../public/images/confetti.svg");
      background-size: contain;
      pointer-events: none;
    }
    .cong-label {
      margin-bottom: 20px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
